#! /usr/bin/env bash

/opt/librenms/lnms smokeping:generate --targets > /etc/smokeping/config.d/librenms-targets.conf  
/opt/librenms/lnms smokeping:generate --probes  > /etc/smokeping/config.d/librenms-probes.conf

systemctl reload smokeping > /dev/null 2<&1