#! /usr/bin/env bash

sudo -u librenms /opt/librenms/lnms smokeping:generate --targets > /etc/smokeping/librenms-targets.conf
sudo -u librenms /opt/librenms/lnms smokeping:generate --probes  > /etc/smokeping/librenms-probes.conf

systemctl reload smokeping > /dev/null 2<&1
