# Ignore all dotfiles #
#######################
.*
!/.gitignore
!/.editorconfig
!/.scrutinizer.yml
!/.travis.yml
!/.php_cs
!/.github/

# Others #
##########
*.swp
/composer.lock
Thumbs.db
config.php
html/css/custom/*
html/plugins/*
!html/plugins/Test/
includes/custom/*
junk
logs
nbproject
patches
rrd
/vendor
composer.phar
librenms_theme
