# Ignore all dotfiles #
#######################
.*
!/.gitignore
!/.editorconfig
!/.scrutinizer.yml


# Others #
##########
*.swp
Thumbs.db
config.php
html/plugins/*
!html/plugins/Test/
junk
logs
nbproject
patches
rrd

