includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion:
        min: 80200
        max: 80499

    parseModelCastsMethod: true

    resultCachePath: %tmpDir%/resultCache-legacy.php

    reportUnmatchedIgnoredErrors: false

    paths:
        - includes
        - html
        - scripts
        - alerts.php
        - billing-calculate.php
        - check-services.php
        - config_to_json.php
        - daily.php
        - delhost.php
        - discovery.php
        - irc.php
        - ping.php
        - poll-billing.php
        - poller.php
        - renamehost.php
        - snmptrap.php
        - syslog.php
        - validate.php

    level: 0
