parameters:
	ignoreErrors:
		-
			message: '#^Path in include\(\) "config\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: LibreNMS/ComposerHelper.php

		-
			message: '#^Property LibreNMS\\Data\\Store\\Rrd\:\:\$async_process \(LibreNMS\\Proc\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: LibreNMS/Data/Store/Rrd.php

		-
			message: '#^Property LibreNMS\\Data\\Store\\Rrd\:\:\$sync_process \(LibreNMS\\Proc\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: LibreNMS/Data/Store/Rrd.php

		-
			message: '#^Parameter \#1 \$model of static method LibreNMS\\Model\:\:onCreate\(\) expects static\(LibreNMS\\Device\\Processor\), LibreNMS\\Device\\Processor given\.$#'
			identifier: argument.type
			count: 1
			path: LibreNMS/Device/Processor.php

		-
			message: '#^Parameter \#1 \$model of static method LibreNMS\\Model\:\:onDelete\(\) expects static\(LibreNMS\\Device\\Processor\), LibreNMS\\Device\\Processor given\.$#'
			identifier: argument.type
			count: 1
			path: LibreNMS/Device/Processor.php

		-
			message: '#^Unsafe call to private method LibreNMS\\Device\\Processor\:\:pollProcessors\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: LibreNMS/Device/Processor.php

		-
			message: '#^Unsafe call to private method LibreNMS\\Device\\Processor\:\:processData\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 3
			path: LibreNMS/Device/Processor.php

		-
			message: '#^Variable \$lsps might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: LibreNMS/Modules/Mpls.php

		-
			message: '#^Variable \$paths might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: LibreNMS/Modules/Mpls.php

		-
			message: '#^Variable \$features on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: LibreNMS/Modules/Os.php

		-
			message: '#^Variable \$hardware on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: LibreNMS/Modules/Os.php

		-
			message: '#^Variable \$location in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: LibreNMS/Modules/Os.php

		-
			message: '#^Variable \$serial on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: LibreNMS/Modules/Os.php

		-
			message: '#^Variable \$version on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: LibreNMS/Modules/Os.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: LibreNMS/Modules/Ospf.php

		-
			message: '#^Variable \$multi_get_array on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 2
			path: LibreNMS/OS/Ceraos.php

		-
			message: '#^Parameter \#16 \$entPhysicalIndex of class LibreNMS\\Device\\WirelessSensor constructor expects float\|int\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: LibreNMS/OS/Ios.php

		-
			message: '#^Variable \$index might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: LibreNMS/OS/SmOs.php

		-
			message: '#^Property App\\Console\\Commands\\InternalHttpRequest\:\:\$app is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Console/Commands/InternalHttpRequest.php
