<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="LibreNMS Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>browser</group>
      <group>mibs</group>
    </exclude>
  </groups>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="CONFIG_CACHE_TTL" value="300"/>
    <const name="PHPUNIT_RUNNING" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app</directory>
      <directory suffix=".php">html</directory>
      <directory suffix=".php">includes</directory>
      <directory suffix=".php">LibreNMS</directory>
    </include>
  </source>
</phpunit>
