# Change RANDOMSTRINGGOESHERE to your preferred SNMP community string
com2sec  readonly  default      RANDOMSTRINGGOESHERE
com2sec6 readonly  default      RANDOMSTRINGGOESHERE

# listen on IPv4 and IPv6
agentaddress udp:161
agentaddress udp6:161

group MyROGroup v2c        readonly
view all    included  .1                               80
access MyROGroup ""      any       noauth    exact  all    none   none

syslocation Rack, Room, Building, City, Country [GPSX,Y]
syscontact Your Name <your@email.address>

#Distro Detection
extend distro /usr/bin/distro

