mibdirs +/var/sites/observer/mibs
mibs +ENTITY-MIB
mibs +MPLS-VPN-MIB
mibs +ADSL-LINE-MIB
mibs +BGP4-MIB
mibs +CISCO-IETF-ISIS-MIB
mibs +CISCO-IETF-PW-MIB
mibs +CISCO-IETF-PW-MPLS-MIB
mibs +CISCO-IETF-PW-ENET-MIB
mibs +CISCO-MVPN-MIB
mibs +MPLS-LSR-MIB
mibs +MPLS-LSR-STD-MIB
mibs +OSPF-MIB
mibs +CISCO-VTP-MIB
mibs +MPLS-L3VPN-STD-MIB
mibs +VRRP-MIB
mibs +CISCO-TCP-MIB
mibs +CISCO-IF-EXTENSION-MIB

