//colors
$color_0: #ff0;
$color_1: #000;
$color_2:  silver;
$color_3: #666;
$color_4: #111;
$color_5: #1d73a2;
$color_6: #175c82;
$color_7: rgba(0, 0, 0, .19);
$color_8: rgba(0, 0, 0, .23);
$color_9: #357295;
$color_10: #fff;
$color_11: #cacfd2;
$color_12: #34a0db;
$color_13: #3d657b;
$color_14: rgba(0, 0, 0, .12);
$color_15: rgba(0, 0, 0, .24);
$color_16: #2490cb;
$color_17: #eee;
$color_18: #222;
$color_19: rgba(0, 0, 0, .16);
$color_20: #2ecc71;
$color_21: #e74c3c;
$color_22: #f5f5f5;
$color_23: rgba(0, 0, 0, .2);
$color_24: #ff0000;
$color_25: #000000;
$color_26:  red;
$color_27: #dddddd;
$color_28: #ddd;
$color_29: #333;
$color_30: #ffff00;
$color_31: #008000;
$color_32:  darkgray;
$color_33: #008080;
$color_34: #144242;
$color_35: #a9a9a9;
$color_36: rgba(0, 0, 0, 0.1);
$color_37: #ccc;
$color_38: rgba(0, 0, 0, 0.3);
$color_39: #ffffff;

//fonts
$font_0: sans-serif;
$font_1: monospace;
$font_2: Roboto;
$font_3: Helvetica Neue;
$font_4: Helvetica;
$font_5: Arial;
$font_6: Courier New;
$font_7: Courier;
$font_8: Lucida Sans Typewriter;
$font_9: Lucida Typewriter;
$font_10: Ionicons;

//urls
$url_0: 'https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900';
$url_1: '../img/background.png';