// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap'; // Conflicts with normal css

// Vue Select
@import "~vue-select/src/scss/vue-select.scss";

// Vue Multiselect
@import "../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";

// Vue Tabs
@import '~vue-nav-tabs/themes/vue-tabs.scss';
