parameters:
    ignoreErrors:

        - "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource given\\.$#"

        - "#^Parameter \\#1 \\$link_identifier of function ldap_.* expects (array\\|)?resource, LDAP\\\\Connection given\\.$#"

        -
            message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
            count: 1
            path: ../../LibreNMS/Authentication/TwoFactor.php

        -
            message: "#^Parameter \\#1 \\$number of function base_convert expects string, int given\\.$#"
            count: 1
            path: ../../LibreNMS/Authentication/TwoFactor.php

        -
            message: "#^Parameter \\#1 \\$ch of function curl_setopt expects resource, CurlHandle given\\.$#"
            count: 1
            path: ../../LibreNMS/Util/Proxy.php

        -
            message: "#^Parameter \\$curl of method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) has invalid type CurlHandle\\.$#"
            count: 1
            path: ../../LibreNMS/Util/Proxy.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Clickatell.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Googlechat.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Playsms.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Pushbullet.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Signalwire.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Smseagle.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Smsfeedback.php

        -
            message: "#^Parameter \\#1 \\$curl of static method LibreNMS\\\\Util\\\\Proxy\\:\\:applyToCurl\\(\\) expects CurlHandle, resource\\|false given\\.$#"
            count: 1
            path: ../../LibreNMS/Alert/Transport/Twilio.php
