html.dark .fa-nav-icons {
    color: #bfc0c0
}

html.dark .fa-col-danger {
    color: #e30613
}

html.dark .icon-theme {
    color: #bfc0c0
}

html.dark a {
    background-color: transparent
}

html.dark mark {
    color: #000
}

html.dark small {
    color: #FFF
}

html.dark button,
html.dark input,
html.dark select,
html.dark textarea {
    color: inherit
}

@media print {
    html.dark *,
    html.dark *:before,
    html.dark *:after {
        color: #000 !important
    }

    html.dark .btn > .caret {
        border-top-color: #000 !important
    }

    html.dark .table td,
    html.dark .table th {
        background-color: #fff !important
    }
}

html.dark .page-availability-report-select {
    color: #000
}

html.dark .device-availability {
    color: #fff
}

html.dark .service-availability {
    color: #fff
}

html.dark body {
    color: #c8c8c8;
    background-color: #272b30
}

html.dark a {
    color: #bfc0c0
}

html.dark a:hover,
html.dark a:focus {
    color: #fff
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6,
html.dark .h1,
html.dark .h2,
html.dark .h3,
html.dark .h4,
html.dark .h5,
html.dark .h6 {
    color: inherit
}

html.dark h1 small,
html.dark h2 small,
html.dark h3 small,
html.dark h4 small,
html.dark h5 small,
html.dark h6 small,
html.dark .h1 small,
html.dark .h2 small,
html.dark .h3 small,
html.dark .h4 small,
html.dark .h5 small,
html.dark .h6 small,
html.dark h1 .small,
html.dark h2 .small,
html.dark h3 .small,
html.dark h4 .small,
html.dark h5 .small,
html.dark h6 .small,
html.dark .h1 .small,
html.dark .h2 .small,
html.dark .h3 .small,
html.dark .h4 .small,
html.dark .h5 .small,
html.dark .h6 .small {
    color: #7a8288
}

html.dark mark,
html.dark .mark {
    background-color: #f89406
}

html.dark .text-muted {
    color: #7a8288
}

html.dark .text-primary {
    color: #7a8288
}

html.dark a.text-primary:hover,
html.dark a.text-primary:focus {
    color: #62686d
}

html.dark .text-success {
    color: #fff
}

html.dark a.text-success:hover,
html.dark a.text-success:focus {
    color: #e6e6e6
}

html.dark .text-info {
    color: #fff
}

html.dark a.text-info:hover,
html.dark a.text-info:focus {
    color: #e6e6e6
}

html.dark .text-warning {
    color: #fff
}

html.dark a.text-warning:hover,
html.dark a.text-warning:focus {
    color: #e6e6e6
}

html.dark .text-danger {
    color: #fff
}

html.dark a.text-danger:hover,
html.dark a.text-danger:focus {
    color: #e6e6e6
}

html.dark .bg-success {
    background-color: #62c462
}

html.dark a.bg-success:hover,
html.dark a.bg-success:focus {
    background-color: #42b142
}

html.dark .bg-info {
    background-color: #5bc0de
}

html.dark a.bg-info:hover,
html.dark a.bg-info:focus {
    background-color: #31b0d5
}

html.dark .bg-danger {
    background-color: #ee5f5b
}

html.dark a.bg-danger:hover,
html.dark a.bg-danger:focus {
    background-color: #e9322d
}

html.dark blockquote footer,
html.dark blockquote small,
html.dark blockquote .small {
    color: #7a8288
}

html.dark code {
    color: #c7254e;
    background-color: #f9f2f4
}

html.dark pre {
    color: #3a3f44;
    background-color: #f5f5f5
}

html.dark pre code {
    color: inherit;
    background-color: transparent
}

html.dark table {
    background-color: #2e3338
}

html.dark .table .table {
    background-color: #272b30
}

html.dark .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #353a41
}

html.dark .table-hover > tbody > tr:hover {
    background-color: #49515a
}

html.dark .table > thead > tr > th {
    border-bottom-color: #1c1e22;
}

html.dark .table > tbody > tr > td,
html.dark .table > tbody > tr > th,
html.dark .table > tfoot > tr > td,
html.dark .table > tfoot > tr > th,
html.dark .table > thead > tr > td,
html.dark .table > thead > tr > th {
    border-top-color: #1c1e22;
}

html.dark .table > thead > tr > td.active,
html.dark .table > tbody > tr > td.active,
html.dark .table > thead > tr > th.active,
html.dark .table > tbody > tr > th.active,
html.dark .table > thead > tr.active > td,
html.dark .table > tbody > tr.active > td,
html.dark .table > thead > tr.active > th,
html.dark .table > tbody > tr.active > th {
    background-color: #49515a
}

html.dark .table-hover > tbody > tr > td.active:hover,
html.dark .table-hover > tbody > tr > th.active:hover,
html.dark .table-hover > tbody > tr.active:hover > td,
html.dark .table-hover > tbody > tr:hover > .active,
html.dark .table-hover > tbody > tr.active:hover > th {
    background-color: #3e444c
}

html.dark .table > thead > tr > td.success,
html.dark .table > tbody > tr > td.success,
html.dark .table > thead > tr > th.success,
html.dark .table > tbody > tr > th.success,
html.dark .table > thead > tr.success > td,
html.dark .table > tbody > tr.success > td,
html.dark .table > thead > tr.success > th,
html.dark .table > tbody > tr.success > th {
    background-color: #62c462
}

html.dark .table-hover > tbody > tr > td.success:hover,
html.dark .table-hover > tbody > tr > th.success:hover,
html.dark .table-hover > tbody > tr.success:hover > td,
html.dark .table-hover > tbody > tr:hover > .success,
html.dark .table-hover > tbody > tr.success:hover > th {
    background-color: #4fbd4f
}

html.dark .table > thead > tr > td.info,
html.dark .table > tbody > tr > td.info,
html.dark .table > thead > tr > th.info,
html.dark .table > tbody > tr > th.info,
html.dark .table > thead > tr.info > td,
html.dark .table > tbody > tr.info > td,
html.dark .table > thead > tr.info > th,
html.dark .table > tbody > tr.info > th {
    background-color: #5bc0de
}

html.dark .table-hover > tbody > tr > td.info:hover,
html.dark .table-hover > tbody > tr > th.info:hover,
html.dark .table-hover > tbody > tr.info:hover > td,
html.dark .table-hover > tbody > tr:hover > .info,
html.dark .table-hover > tbody > tr.info:hover > th {
    background-color: #46b8da
}

html.dark .table > thead > tr > td.warning,
html.dark .table > tbody > tr > td.warning,
html.dark .table > thead > tr > th.warning,
html.dark .table > tbody > tr > th.warning,
html.dark .table > thead > tr.warning > td,
html.dark .table > tbody > tr.warning > td,
html.dark .table > thead > tr.warning > th,
html.dark .table > tbody > tr.warning > th {
    background-color: #ba6f05
}

html.dark .table-hover > tbody > tr > td.warning:hover,
html.dark .table-hover > tbody > tr > th.warning:hover,
html.dark .table-hover > tbody > tr.warning:hover > td,
html.dark .table-hover > tbody > tr:hover > .warning,
html.dark .table-hover > tbody > tr.warning:hover > th {
    background-color: #a76404
}

html.dark .table > thead > tr > td.danger,
html.dark .table > tbody > tr > td.danger,
html.dark .table > thead > tr > th.danger,
html.dark .table > tbody > tr > th.danger,
html.dark .table > thead > tr.danger > td,
html.dark .table > tbody > tr.danger > td,
html.dark .table > thead > tr.danger > th,
html.dark .table > tbody > tr.danger > th {
    background-color: #ee5f5b
}

html.dark .table-hover > tbody > tr > td.danger:hover,
html.dark .table-hover > tbody > tr > th.danger:hover,
html.dark .table-hover > tbody > tr.danger:hover > td,
html.dark .table-hover > tbody > tr:hover > .danger,
html.dark .table-hover > tbody > tr.danger:hover > th {
    background-color: #ec4844
}

html.dark .bootgrid-table th > .column-header-anchor {
    color: #bfc0c0;
}

html.dark .bootgrid-table th {
    background-color: #3e444c;
}

html.dark legend {
    color: #c8c8c8
}

html.dark output {
    color: #272b30
}

html.dark .form-control {
    color: #272b30;
    background-color: #fff
}

html.dark .form-control:focus {
    border-color: #66afe9
}

html.dark .form-control::-moz-placeholder {
    color: #7a8288
}

html.dark .form-control:-ms-input-placeholder {
    color: #7a8288
}

html.dark .form-control::-webkit-input-placeholder {
    color: #7a8288
}

html.dark .form-control::-ms-expand {
    background-color: transparent
}

html.dark .form-control[disabled],
html.dark .form-control[readonly],
html.dark fieldset[disabled] .form-control {
    background-color: #999
}

html.dark .has-success .help-block,
html.dark .has-success .control-label,
html.dark .has-success .radio,
html.dark .has-success .checkbox,
html.dark .has-success .radio-inline,
html.dark .has-success.radio label,
html.dark .has-success.checkbox label,
html.dark .has-success.radio-inline label {
    color: #fff
}

html.dark .has-success .form-control {
    border-color: #fff
}

html.dark .has-success .form-control:focus {
    border-color: #e6e6e6
}

html.dark .has-success .input-group-addon {
    color: #fff;
    background-color: #62c462;
    border-color: #fff
}

html.dark .has-success .form-control-feedback {
    color: #fff
}

html.dark .has-error .help-block,
html.dark .has-error .control-label,
html.dark .has-error .radio,
html.dark .has-error .checkbox,
html.dark .has-error .radio-inline,
html.dark .has-error.radio label,
html.dark .has-error.checkbox label,
html.dark .has-error.radio-inline label {
    color: #fff
}

html.dark .has-error .form-control {
    border-color: #fff
}

html.dark .has-error .form-control:focus {
    border-color: #e6e6e6
}

html.dark .has-error .input-group-addon {
    color: #fff;
    background-color: #ee5f5b;
    border-color: #fff
}

html.dark .has-error .form-control-feedback {
    color: #fff
}

html.dark .help-block {
    color: #fff
}

html.dark .btn:hover,
html.dark .btn:focus,
html.dark .btn.focus {
    color: #fff
}

html.dark .btn-default {
    color: #fff;
    background-color: #3a3f44;
    border-color: #3a3f44
}

html.dark .btn-default:focus,
html.dark .btn-default.focus {
    color: #fff;
    background-color: #232628;
    border-color: #000
}

html.dark .btn-default:hover {
    color: #fff;
    background-color: #232628;
    border-color: #1e2023
}

html.dark .btn-default:active,
html.dark .btn-default.active,
html.dark .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #232628;
    border-color: #1e2023
}

html.dark .btn-default:active:hover,
html.dark .btn-default.active:hover,
html.dark .open > .dropdown-toggle.btn-default:hover,
html.dark .btn-default:active:focus,
html.dark .btn-default.active:focus,
html.dark .open > .dropdown-toggle.btn-default:focus,
html.dark .btn-default:active.focus,
html.dark .btn-default.active.focus,
html.dark .open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background-color: #121415;
    border-color: #000
}

html.dark .btn-default.disabled:hover,
html.dark .btn-default[disabled]:hover,
html.dark fieldset[disabled] .btn-default:hover,
html.dark .btn-default.disabled:focus,
html.dark .btn-default[disabled]:focus,
html.dark fieldset[disabled] .btn-default:focus,
html.dark .btn-default.disabled.focus,
html.dark .btn-default[disabled].focus,
html.dark fieldset[disabled] .btn-default.focus {
    background-color: #3a3f44;
    border-color: #3a3f44
}

html.dark .btn-default .badge {
    color: #3a3f44;
    background-color: #fff
}

html.dark .btn-primary {
    color: #fff;
    background-color: #7a8288;
    border-color: #7a8288
}

html.dark .btn-primary:focus,
html.dark .btn-primary.focus {
    color: #fff;
    background-color: #62686d;
    border-color: #3e4245
}

html.dark .btn-primary:hover {
    color: #fff;
    background-color: #62686d;
    border-color: #5d6368
}

html.dark .btn-primary:active,
html.dark .btn-primary.active,
html.dark .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #62686d;
    border-color: #5d6368
}

html.dark .btn-primary:active:hover,
html.dark .btn-primary.active:hover,
html.dark .open > .dropdown-toggle.btn-primary:hover,
html.dark .btn-primary:active:focus,
html.dark .btn-primary.active:focus,
html.dark .open > .dropdown-toggle.btn-primary:focus,
html.dark .btn-primary:active.focus,
html.dark .btn-primary.active.focus,
html.dark .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #51565a;
    border-color: #3e4245
}

html.dark .btn-primary.disabled:hover,
html.dark .btn-primary[disabled]:hover,
html.dark fieldset[disabled] .btn-primary:hover,
html.dark .btn-primary.disabled:focus,
html.dark .btn-primary[disabled]:focus,
html.dark fieldset[disabled] .btn-primary:focus,
html.dark .btn-primary.disabled.focus,
html.dark .btn-primary[disabled].focus,
html.dark fieldset[disabled] .btn-primary.focus {
    background-color: #7a8288;
    border-color: #7a8288
}

html.dark .btn-primary .badge {
    color: #7a8288;
    background-color: #fff
}

html.dark .btn-success {
    color: #fff;
    background-color: #62c462;
    border-color: #62c462
}

html.dark .btn-success:focus,
html.dark .btn-success.focus {
    color: #fff;
    background-color: #42b142;
    border-color: #2d792d
}

html.dark .btn-success:hover {
    color: #fff;
    background-color: #42b142;
    border-color: #40a940
}

html.dark .btn-success:active,
html.dark .btn-success.active,
html.dark .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #42b142;
    border-color: #40a940
}

html.dark .btn-success:active:hover,
html.dark .btn-success.active:hover,
html.dark .open > .dropdown-toggle.btn-success:hover,
html.dark .btn-success:active:focus,
html.dark .btn-success.active:focus,
html.dark .open > .dropdown-toggle.btn-success:focus,
html.dark .btn-success:active.focus,
html.dark .btn-success.active.focus,
html.dark .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #399739;
    border-color: #2d792d
}

html.dark .btn-success.disabled:hover,
html.dark .btn-success[disabled]:hover,
html.dark fieldset[disabled] .btn-success:hover,
html.dark .btn-success.disabled:focus,
html.dark .btn-success[disabled]:focus,
html.dark fieldset[disabled] .btn-success:focus,
html.dark .btn-success.disabled.focus,
html.dark .btn-success[disabled].focus,
html.dark fieldset[disabled] .btn-success.focus {
    background-color: #62c462;
    border-color: #62c462
}

html.dark .btn-success .badge {
    color: #62c462;
    background-color: #fff
}

html.dark .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de
}

html.dark .btn-info:focus,
html.dark .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1f7e9a
}

html.dark .btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2
}

html.dark .btn-info:active,
html.dark .btn-info.active,
html.dark .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2
}

html.dark .btn-info:active:hover,
html.dark .btn-info.active:hover,
html.dark .open > .dropdown-toggle.btn-info:hover,
html.dark .btn-info:active:focus,
html.dark .btn-info.active:focus,
html.dark .open > .dropdown-toggle.btn-info:focus,
html.dark .btn-info:active.focus,
html.dark .btn-info.active.focus,
html.dark .open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1f7e9a
}

html.dark .btn-info.disabled:hover,
html.dark .btn-info[disabled]:hover,
html.dark fieldset[disabled] .btn-info:hover,
html.dark .btn-info.disabled:focus,
html.dark .btn-info[disabled]:focus,
html.dark fieldset[disabled] .btn-info:focus,
html.dark .btn-info.disabled.focus,
html.dark .btn-info[disabled].focus,
html.dark fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #5bc0de
}

html.dark .btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

html.dark .btn-warning {
    color: #fff;
    background-color: #f89406;
    border-color: #f89406
}

html.dark .btn-warning:focus,
html.dark .btn-warning.focus {
    color: #fff;
    background-color: #c67605;
    border-color: #7c4a03
}

html.dark .btn-warning:hover {
    color: #fff;
    background-color: #c67605;
    border-color: #bc7005
}

html.dark .btn-warning:active,
html.dark .btn-warning.active,
html.dark .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #c67605;
    border-color: #bc7005
}

html.dark .btn-warning:active:hover,
html.dark .btn-warning.active:hover,
html.dark .open > .dropdown-toggle.btn-warning:hover,
html.dark .btn-warning:active:focus,
html.dark .btn-warning.active:focus,
html.dark .open > .dropdown-toggle.btn-warning:focus,
html.dark .btn-warning:active.focus,
html.dark .btn-warning.active.focus,
html.dark .open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #a36104;
    border-color: #7c4a03
}

html.dark .btn-warning.disabled:hover,
html.dark .btn-warning[disabled]:hover,
html.dark fieldset[disabled] .btn-warning:hover,
html.dark .btn-warning.disabled:focus,
html.dark .btn-warning[disabled]:focus,
html.dark fieldset[disabled] .btn-warning:focus,
html.dark .btn-warning.disabled.focus,
html.dark .btn-warning[disabled].focus,
html.dark fieldset[disabled] .btn-warning.focus {
    background-color: #f89406;
    border-color: #f89406
}

html.dark .btn-warning .badge {
    color: #f89406;
    background-color: #fff
}

html.dark .btn-danger {
    color: #fff;
    background-color: #ee5f5b;
    border-color: #ee5f5b
}

html.dark .btn-danger:focus,
html.dark .btn-danger.focus {
    color: #fff;
    background-color: #e9322d;
    border-color: #b71713
}

html.dark .btn-danger:hover {
    color: #fff;
    background-color: #e9322d;
    border-color: #e82924
}

html.dark .btn-danger:active,
html.dark .btn-danger.active,
html.dark .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #e9322d;
    border-color: #e82924
}

html.dark .btn-danger:active:hover,
html.dark .btn-danger.active:hover,
html.dark .open > .dropdown-toggle.btn-danger:hover,
html.dark .btn-danger:active:focus,
html.dark .btn-danger.active:focus,
html.dark .open > .dropdown-toggle.btn-danger:focus,
html.dark .btn-danger:active.focus,
html.dark .btn-danger.active.focus,
html.dark .open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #dc1c17;
    border-color: #b71713
}

html.dark .btn-danger.disabled:hover,
html.dark .btn-danger[disabled]:hover,
html.dark fieldset[disabled] .btn-danger:hover,
html.dark .btn-danger.disabled:focus,
html.dark .btn-danger[disabled]:focus,
html.dark fieldset[disabled] .btn-danger:focus,
html.dark .btn-danger.disabled.focus,
html.dark .btn-danger[disabled].focus,
html.dark fieldset[disabled] .btn-danger.focus {
    background-color: #ee5f5b;
    border-color: #ee5f5b
}

html.dark .btn-danger .badge {
    color: #ee5f5b;
    background-color: #fff
}

html.dark .dropdown-menu {
    background-color: #3a3f44
}

html.dark .dropdown-menu .divider {
    background-color: #272b30
}

html.dark .dropdown-menu > li > a {
    color: #c8c8c8
}

html.dark .dropdown-menu > li > a:hover,
html.dark .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #272b30
}

html.dark .dropdown-menu > .active > a,
html.dark .dropdown-menu > .active > a:hover,
html.dark .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #272b30
}

html.dark .dropdown-menu > .disabled > a,
html.dark .dropdown-menu > .disabled > a:hover,
html.dark .dropdown-menu > .disabled > a:focus {
    color: #7a8288
}

html.dark .dropdown-menu > .disabled > a:hover,
html.dark .dropdown-menu > .disabled > a:focus {
    background-color: transparent
}

html.dark .dropdown-header {
    color: #7a8288
}

html.dark .input-group-addon {
    color: #272b30;
    background-color: #999
}

html.dark .nav > li > a:hover,
html.dark .nav > li > a:focus {
    background-color: #3e444c
}

html.dark .nav > li.disabled > a {
    color: #7a8288
}

html.dark .nav > li.disabled > a:hover,
html.dark .nav > li.disabled > a:focus {
    color: #7a8288;
    background-color: transparent
}

html.dark .nav .open > a,
html.dark .nav .open > a:hover,
html.dark .nav .open > a:focus {
    background-color: #3e444c;
    border-color: #fff
}

html.dark .nav-tabs > li > a:hover {
    border-color: #1c1e22 #1c1e22 #1c1e22
}

html.dark .nav-tabs > li.active > a,
html.dark .nav-tabs > li.active > a:hover,
html.dark .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #3e444c
}

@media (min-width: 768px) {
    html.dark .nav-tabs.nav-justified > .active > a,
    html.dark .nav-tabs.nav-justified > .active > a:hover,
    html.dark .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #272b30
    }
}

html.dark .navbar-toggle {
    background-color: transparent
}

@media (max-width: 767px) {
    html.dark .navbar-nav .open .dropdown-menu {
        background-color: transparent
    }
}

html.dark .navbar-default {
    background-color: #3a3f44;
    border-color: #2b2e32
}

html.dark .navbar-default .navbar-brand {
    color: #c8c8c8
}

html.dark .navbar-default .navbar-brand:hover,
html.dark .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent
}

html.dark .navbar-default .navbar-nav > li > a {
    color: #c8c8c8
}

html.dark .navbar-default .navbar-nav > li > a:hover,
html.dark .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #272b2e
}

html.dark .navbar-default .navbar-nav > .active > a,
html.dark .navbar-default .navbar-nav > .active > a:hover,
html.dark .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #272b2e
}

html.dark .navbar-default .navbar-nav > .disabled > a,
html.dark .navbar-default .navbar-nav > .disabled > a:hover,
html.dark .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

html.dark .navbar-default .navbar-nav > .open > a,
html.dark .navbar-default .navbar-nav > .open > a:hover,
html.dark .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #272b2e
}

@media (max-width: 767px) {
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #c8c8c8
    }

    html.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #272b2e
    }

    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #272b2e
    }

    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    html.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent
    }
}

html.dark .navbar-default .navbar-toggle {
    border-color: #272b2e
}

html.dark .navbar-default .navbar-toggle:hover,
html.dark .navbar-default .navbar-toggle:focus {
    background-color: #272b2e
}

html.dark .navbar-default .navbar-toggle .icon-bar {
    background-color: #c8c8c8
}

html.dark .navbar-default .navbar-collapse,
html.dark .navbar-default .navbar-form {
    border-color: #2b2e32
}

html.dark .pagination > li > a,
html.dark .pagination > li > span {
    color: #fff;
    background-color: #3a3f44
}

html.dark .pagination > li > a:hover,
html.dark .pagination > li > span:hover,
html.dark .pagination > li > a:focus,
html.dark .pagination > li > span:focus {
    color: #fff;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .pagination > .active > a,
html.dark .pagination > .active > span,
html.dark .pagination > .active > a:hover,
html.dark .pagination > .active > span:hover,
html.dark .pagination > .active > a:focus,
html.dark .pagination > .active > span:focus {
    color: #fff;
    background-color: #232628;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .pagination > .disabled > span,
html.dark .pagination > .disabled > span:hover,
html.dark .pagination > .disabled > span:focus,
html.dark .pagination > .disabled > a,
html.dark .pagination > .disabled > a:hover,
html.dark .pagination > .disabled > a:focus {
    color: #7a8288;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .label {
    color: #fff
}

html.dark a.label:hover,
html.dark a.label:focus {
    color: #fff
}

html.dark .label-default {
    background-color: #3a3f44
}

html.dark .label-default[href]:hover,
html.dark .label-default[href]:focus {
    background-color: #232628
}

html.dark .label-primary {
    background-color: #7a8288
}

html.dark .label-primary[href]:hover,
html.dark .label-primary[href]:focus {
    background-color: #62686d
}

html.dark .label-success {
    background-color: #62c462
}

html.dark .label-success[href]:hover,
html.dark .label-success[href]:focus {
    background-color: #42b142
}

html.dark .label-info {
    background-color: #5bc0de
}

html.dark .label-info[href]:hover,
html.dark .label-info[href]:focus {
    background-color: #31b0d5
}

html.dark .label-warning {
    background-color: #f89406
}

html.dark .label-warning[href]:hover,
html.dark .label-warning[href]:focus {
    background-color: #c67605
}

html.dark .label-danger {
    background-color: #ee5f5b
}

html.dark .label-danger[href]:hover,
html.dark .label-danger[href]:focus {
    background-color: #e9322d
}

html.dark .badge {
    color: #fff;
    background-color: #7a8288
}

html.dark a.badge:hover,
html.dark a.badge:focus {
    color: #fff
}

html.dark .list-group-item.active > .badge {
    color: #fff;
    background-color: #7a8288
}

html.dark .alert h4 {
    color: inherit
}

html.dark .alert-success {
    color: #fff;
    background-color: #62c462;
    border-color: #62bd4f
}

html.dark .alert-success hr {
    border-top-color: #55b142
}

html.dark .alert-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #3dced8
}

html.dark .alert-info hr {
    border-top-color: #2ac7d2
}

html.dark .alert-warning {
    color: #fff;
    background-color: #f89406;
    border-color: #e96506
}

html.dark .alert-warning hr {
    border-top-color: #d05a05
}

html.dark .alert-danger {
    color: #fff;
    background-color: #ee5f5b;
    border-color: #ed4d63
}

html.dark .alert-danger hr {
    border-top-color: #ea364f
}

html.dark .list-group-item {
    background-color: #32383e
}

html.dark .list-group-item.disabled,
html.dark .list-group-item.disabled:hover,
html.dark .list-group-item.disabled:focus {
    color: #7a8288;
    background-color: #999
}

html.dark .list-group-item.active,
html.dark .list-group-item.active:hover,
html.dark .list-group-item.active:focus {
    color: #fff;
    background-color: #3e444c;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark a.list-group-item,
html.dark button.list-group-item {
    color: #c8c8c8
}

html.dark a.list-group-item:hover,
html.dark button.list-group-item:hover,
html.dark a.list-group-item:focus,
html.dark button.list-group-item:focus {
    color: #c8c8c8;
    background-color: #3e444c
}

html.dark .list-group-item-danger {
    color: #fff;
    background-color: #ee5f5b
}

html.dark a.list-group-item-danger,
html.dark button.list-group-item-danger {
    color: #fff
}

html.dark a.list-group-item-danger:hover,
html.dark button.list-group-item-danger:hover,
html.dark a.list-group-item-danger:focus,
html.dark button.list-group-item-danger:focus {
    color: #fff;
    background-color: #ec4844
}

html.dark a.list-group-item-danger.active,
html.dark button.list-group-item-danger.active,
html.dark a.list-group-item-danger.active:hover,
html.dark button.list-group-item-danger.active:hover,
html.dark a.list-group-item-danger.active:focus,
html.dark button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #fff;
    border-color: #fff
}

html.dark .panel {
    background-color: #2e3338
}

html.dark .panel-heading > .dropdown .dropdown-toggle {
    color: inherit
}

html.dark .panel-title {
    color: inherit
}

html.dark .panel-title > a,
html.dark .panel-title > small,
html.dark .panel-title > .small,
html.dark .panel-title > small > a,
html.dark .panel-title > .small > a {
    color: inherit
}

html.dark .panel-footer {
    background-color: #3e444c;
    border-color: rgba(0, 0, 0, 0.6);
}

html.dark .panel-default {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-default > .panel-heading {
    color: #c8c8c8;
    background-color: #3e444c;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-default > .panel-heading .badge {
    color: #3e444c;
    background-color: #c8c8c8
}

html.dark .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-primary {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-primary > .panel-heading {
    color: #fff;
    background-color: #7a8288;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-primary > .panel-heading .badge {
    color: #7a8288;
    background-color: #fff
}

html.dark .panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-success {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-success > .panel-heading {
    color: #fff;
    background-color: #62c462;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-success > .panel-heading .badge {
    color: #62c462;
    background-color: #fff
}

html.dark .panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-info {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-info > .panel-heading {
    color: #fff;
    background-color: #5bc0de;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-info > .panel-heading .badge {
    color: #5bc0de;
    background-color: #fff
}

html.dark .panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-warning {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-warning > .panel-heading {
    color: #fff;
    background-color: #f89406;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-warning > .panel-heading .badge {
    color: #f89406;
    background-color: #fff
}

html.dark .panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-danger {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-danger > .panel-heading {
    color: #fff;
    background-color: #ee5f5b;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(0, 0, 0, 0.6)
}

html.dark .panel-danger > .panel-heading .badge {
    color: #ee5f5b;
    background-color: #fff
}

html.dark .panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(0, 0, 0, 0.6)
}

html.dark .well {
    background-color: #1c1e22
}

html.dark .well blockquote {
    border-color: rgba(0, 0, 0, 0.15)
}

html.dark .close {
    color: #000
}

html.dark .close:hover,
html.dark .close:focus {
    color: #000
}

html.dark .modal-content {
    background-color: #2e3338
}

html.dark .popover {
    background-color: #2e3338
}

html.dark .navbar .navbar-nav > li > a:hover {
    border-left-color: transparent
}

html.dark .navbar .nav .open > a {
    border-color: transparent
}

html.dark .navbar-nav > li.active > a {
    border-left-color: transparent
}

html.dark .btn,
html.dark .btn:hover {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .text-primary,
html.dark .text-primary:hover {
    color: #7a8288
}

html.dark .text-success,
html.dark .text-success:hover {
    color: #62c462
}

html.dark .text-danger,
html.dark .text-danger:hover {
    color: #ee5f5b
}

html.dark .text-warning,
html.dark .text-warning:hover {
    color: #f89406
}

html.dark .text-info,
html.dark .text-info:hover {
    color: #5bc0de
}

html.dark .table .success,
html.dark .table .warning,
html.dark .table .danger,
html.dark .table .info {
    color: #fff
}

html.dark .table-bordered,
html.dark .table-bordered tbody tr.success td,
html.dark .table-bordered tbody tr.warning td,
html.dark .table-bordered tbody tr.danger td,
html.dark .table-bordered tbody tr.success:hover td,
html.dark .table-bordered tbody tr.warning:hover td,
html.dark .table-bordered tbody tr.danger:hover td {
    border-color: #1c1e22
}

html.dark .table-bordered > thead > tr > th,
html.dark .table-bordered > tbody > tr > th,
html.dark .table-bordered > tfoot > tr > th,
html.dark .table-bordered > thead > tr > td,
html.dark .table-bordered > tbody > tr > td,
html.dark .table-bordered > tfoot > tr > td {
    border-color: #1c1e22;
}

html.dark .table-responsive > .table {
    background-color: #2e3338
}

html.dark input,
html.dark textarea {
    color: #272b30
}

html.dark .has-error .help-block,
html.dark .has-error .control-label,
html.dark .has-error .radio,
html.dark .has-error .checkbox,
html.dark .has-error .radio-inline,
html.dark .has-error.radio label,
html.dark .has-error.checkbox label,
html.dark .has-error.radio-inline label,
html.dark .has-error .form-control-feedback {
    color: #ee5f5b
}

html.dark .has-error .form-control,
html.dark .has-error .form-control:focus {
    border-color: #ee5f5b
}

html.dark .has-error .input-group-addon {
    background-color: #3a3f44;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .has-success .help-block,
html.dark .has-success .control-label,
html.dark .has-success .radio,
html.dark .has-success .checkbox,
html.dark .has-success .radio-inline,
html.dark .has-success.radio label,
html.dark .has-success.checkbox label,
html.dark .has-success.radio-inline label,
html.dark .has-success .form-control-feedback {
    color: #62c462
}

html.dark .has-success .form-control,
html.dark .has-success .form-control:focus {
    border-color: #62c462
}

html.dark .has-success .input-group-addon {
    background-color: #3a3f44;
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark legend {
    color: #fff
}

html.dark .input-group-addon {
    background-color: #3a3f44;
    color: #fff
}

html.dark .nav .open > a,
html.dark .nav .open > a:hover,
html.dark .nav .open > a:focus {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark .pagination > li.disabled > a,
html.dark .pagination > li.disabled > a:hover,
html.dark .pagination > li.disabled > span,
html.dark .pagination > li.disabled > span:hover {
    background-color: transparent
}

html.dark .alert a {
    color: #fff
}

html.dark .alert .close {
    color: #000
}

html.dark a.list-group-item.active,
html.dark a.list-group-item.active:hover,
html.dark a.list-group-item.active:focus {
    border-color: rgba(0, 0, 0, 0.6)
}

html.dark a.list-group-item-danger.active {
    background-color: #ee5f5b
}

html.dark a.list-group-item-danger.active:hover,
html.dark a.list-group-item-danger.active:focus {
    background-color: #ec4844
}

html.dark .panel-primary .panel-heading,
html.dark .panel-success .panel-heading,
html.dark .panel-danger .panel-heading,
html.dark .panel-warning .panel-heading,
html.dark .panel-info .panel-heading {
    border-color: #000
}

html.dark .device-overview > .panel-body > .row:nth-child(odd) {
    background-color: #4f565d
}

html.dark .device-overview > .panel-body > .row:hover {
    background-color: #686d73
}

html.dark a.list-device {
    color: #acb6bf
}

html.dark .pagemenu-selected a {
    color: #353a41
}

html.dark .expandable:hover span {
    background-color: #2e3338
}

html.dark .overlib {
    color: #bebfbf
}

html.dark .overlib-text {
    color: #bebfbf
}

html.dark .interface-upup,
html.dark a.interface-upup {
    color: #1c86e1
}

html.dark A.blue:visited,
html.dark A.blue,
html.dark .blue {
    color: #008cff
}

html.dark A.grey:visited,
html.dark A.grey,
html.dark .grey {
    color: #8c99ad
}

html.dark A.red:visited,
html.dark A.red,
html.dark .red {
    color: #d61818
}

html.dark .overlib-contents {
    background-color: #2e3338;
}

html.dark #overDiv {
    border: solid 1px #515151;
    background-color: #808080;
}
