#  DO NOT CHANGE THIS FILE
#  If you need to change this file, you are doing something wrong.

Options FollowSymlinks Multiviews

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|ico|txt|gif|jpg|png|css|php)
RewriteRule ^(.*)$ index.php/$1/

AcceptPathInfo On
