body {
    background-image:none !important;
}

.dropdown-menu {
    max-height: 400px !important;
    overflow-x: hidden !important;
}

.navbar-fixed-top {
    top: -70px;
    position: relative;
}

#dropdown-hidden {
    display: none;
}
