body {
    background-image:none !important;
}

/* limit the height of dropdown menus */
.dropdown-menu {
    max-height: 400px !important;
    overflow-x: hidden !important;
}

/* push down the content when the header flows to two lines */
.bs-sidebar {
    margin-top: 45px;
}

/* hide the menu called hidden, used to generate unlinked docs */
#dropdown-hidden {
    display: none;
}

/* avoid scrollbar on mobile (default 360px) */
.navbar-collapse {
    max-height: 385px;
}

/* size and align the headers on the home screen */
.home-header { font-size: 2em; }
.home-header>span { vertical-align: middle; }
