/* larger logo */
.md-logo>img { width:36px; height:36px }
.md-logo { padding-top: 0; }

/* theme adjustment */
.md-typeset a { color: #2fa4e7; }
.md-hero { background-color: #000000; }
.md-header { background-color: #000000; }
.md-tabs { background-color: #000000; }
.md-nav__link:active, .md-nav__link--active {  color: #da223a; }
.md-nav__link:focus, .md-nav__link:hover { color: #da223a; }


/* size and align the headers on the home screen */
.home-header {
  font-size: 1.6em;
  margin-bottom: 10px;
}
.home-header, .home-header a {
  color: #da223a;
  text-decoration: none;
}
.home-header i {
  vertical-align: middle;
  padding-right: 12px;
}
.home-header span { vertical-align: middle; }

/* home grid layout */
.home-container {
  display: flex;
  flex-wrap: wrap;
}

.home-box {
  flex-basis: calc(33.33% - 30px);
  margin: 10px;
  min-width: 200px;
  min-height: 200px;

  box-sizing: border-box;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* media */
@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site { background-color: #000000; }
}
@media only screen and (max-width: 59.9375em) {
  .md-nav__source { background-color: #232323; }
  .home-container { display: block; }
  .home-box {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

/* Setting admonition */
:root {
    --md-admonition-icon--setting: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/></svg>')
}

.md-typeset .admonition.setting,
.md-typeset details.setting {
    border-color: rgb(43, 155, 70);
}
.md-typeset .setting > .admonition-title,
.md-typeset .setting > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}
.md-typeset .setting > .admonition-title::before,
.md-typeset .setting > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--setting);
    mask-image: var(--md-admonition-icon--setting);
}
.url-edit-link > svg {
    float: right;
    height: 1rem;
    width: 1rem;
    /*line-height: 1em;*/
    fill: rgb(43, 155, 70);
    cursor: pointer;
}
.url-edit-link > svg:hover {
    fill: rgb(37, 133, 59);
}
.setting-link {
    /*font-size: 1.1em;*/
    /*line-height: 1em;*/
    cursor: pointer;
}
a.setting-link, a.setting-link:visited {
    color: #000;
}

a.setting-link:focus, a.setting-link:hover {
    color: rgb(37, 133, 59);
}

.md-typeset .admonition, .md-typeset details {
    font-size: 1em;
}
