body {
    background: #004756;
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3, p {
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.demo:hover .gridster {
    margin: 0 auto;
    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.content {
    color: white;
}

.gridster .gs-w {
    background: #61A9CF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #BBB;
}

.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: red !important;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    font-weight: bold
}

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}

.gridster-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.controls {
    margin-bottom: 20px;
}
