AddType application/x-httpd-php .php .html .htm

#####
# Other methods that may work:
#####
# AddType application/x-httpd-php5 .php .html .htm

# AddHandler php5-script .html

# handler for phpsuexec..
# <FilesMatch "\.html$">
#  SetHandler application/x-httpd-php5
# </FilesMatch>