body {
    margin:20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.nav {
    margin-bottom:10px;
}

pre.code-block{
    background: #D8F4DC;
    border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    
}
    
pre.code {
    background: #D8F4DC;
    border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 4em;
    
}
    
p {
    margin: 2em 0;
}