Options FollowSymlinks Multiviews

RewriteBase /
RewriteEngine on
RewriteCond %{REQUEST_URI} !^(.*)\.php$
RewriteCond %{REQUEST_URI} !^(.*)\.css$
RewriteCond %{REQUEST_URI} !^(.*)\.jpg$
RewriteCond %{REQUEST_URI} !^(.*)\.gif$
RewriteCond %{REQUEST_URI} !^(.*)\.png$

RewriteRule ^bare/(.+)/ index-bare.php?page=$1


## Rewrites for Devices

RewriteRule ^devices/location/(.+)/ ?page=devices&location=$1
RewriteRule ^devices/alerted/ ?page=devices&status=alerted
RewriteRule ^devices/alerted/ ?page=devices&status=alerted
RewriteRule ^devices/(.+)/ ?page=devices&type=$1

RewriteRule ^interfaces/(.+)/ ?page=interfaces&type=$1

RewriteRule ^vrf/(.+)/(.+)/(.+)/ ?page=vrf&id=$1&opta=$2&optb=$3
RewriteRule ^vrf/(.+)/(.+)/ ?page=vrf&id=$1&opta=$2
RewriteRule ^vrf/(.+)/ ?page=vrf&id=$1


RewriteRule ^bill/([0-9]+) ?page=bills&bill=$1

RewriteRule ^device/([0-9]+)/([a-z]+)/(.+)/(.+)/(.+)/ ?page=device&id=$1&section=$2&opta=$3&optb=$4&optc=$5
RewriteRule ^device/([0-9]+)/([a-z]+)/(.+)/(.+)/ ?page=device&id=$1&section=$2&opta=$3&optb=$4
RewriteRule ^device/([0-9]+)/([a-z]+)/(.+)/ ?page=device&id=$1&section=$2&opta=$3
RewriteRule ^device/([0-9]+)/([a-z]+)/ ?page=device&id=$1&section=$2
RewriteRule ^device/([0-9]+) ?page=device&id=$1

RewriteRule ^([a-z|0-9]+)/$ ?page=$1

RewriteRule ^([a-z|0-9]+)/(.+)/$ ?page=$1&opta=$2

